<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo - Artur Koniec - Zadanie rekrutacyjne TELDAT</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">
</head>
<body>
    <header><a href="/"><h1>To Do List by Artur Koniec</h1></a></header>
    @RenderBody()
    <script src="/lib/jquery-3.6.3.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:7127/notification-hub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

        connection.on("ReceiveNotification", function (message, id) {
            if (Notification.permission === "granted") {
                new Notification("Task reminder", {
                    body: message
                });
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission().then(permission => {
                    if (permission === "granted") {
                        new Notification("Task reminder", {
                            body: message
                        });
                    }
                });
            }

            let container = $('.notifications_container');
            if($("div[data-notid='"+id+"']").length == 0){
                let notification = $('<div data-notid="'+id+'">').addClass('notification').text(message);
                container.append(notification);
            }
        });

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => {
            await start();
        });

        // Start the connection.
        start();
    </script>
</body>
</html>
