<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo - Artur Koniec - Zadanie rekrutacyjne TELDAT</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">
</head>
<body>
    <header><a href="/"><h1>To Do List by Artur Koniec</h1></a></header>
    @RenderBody()
    <script src="/lib/jquery-3.6.3.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
</body>
</html>
