@model Shared.ViewModels.Queries.GetTodoList.GetTodoListVm
@using KoniecToDoApp.Extensions;
<main>
    <form method="post">
        <input type="hidden" asp-for="@Model.TodoList.Id">
        <input asp-for="@Model.TodoList.Name" required>
        <input type="submit">
    </form>
</main>
